<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="./assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <title>AES</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/offcanvas-navbar/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css3/offcanvas-navbar.css" rel="stylesheet">
  </head>
  <body class="bg-body-tertiary">
    
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand">AES</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/entry">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/licenseAES" >License</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-fail" type="submit"><a class="nav-link px-2" href="/LogOut" >LogOut</a></button>
      </form>
    </div>
  </div>
</nav>
<br>
<br>
<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
    <div class="lh-1">
        <small><i class="fa-solid fa-lock"></i><strong></strong> Make It Secured</strong></small>
    </div>
  </div>
  </div>
<br>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Result</h6>
    <div class="d-flex text-body-secondary pt-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <p> Your key: <strong class="text-gray-dark"><%=  key %></strong></p>
        </div>
        <span class="d-block"></span>
      </div>
    </div>
    <div class="d-flex text-body-secondary pt-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <p>bit lengths: <strong class="text-gray-dark"><%=keybit%></strong></p>
          <a href="#"></a>
        </div>
        <span class="d-block"></span>
      </div>
    </div>
    <div class="d-flex text-body-secondary pt-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <p>Decrypted message: <strong class="text-gray-dark"><%=message%></strong></p>
          <a href="#"></a>
        </div>
        <span class="d-block"></span>
      </div>
    </div>
    <form action="/back_otp" method="post">
      <small class="d-block text-end mt-3">
      <button class="w-20 btn btn-lg btn-dark"  name="btn" value="AES">back</button>
    </small>
  </form>
  </div>
</main>
<br>
<br>
<br>
<div class="container">
  <footer class="py-3 my-4">
    <p class="text-center text-body-secondary">&copy; 2015 Ec Network Security</p>
  </footer>
</div>
    <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
<!-- <html>
    <head>
       <meta chatset="UTF-8">
       <title>OTP Encryption</title>
    </head>
    <body>
        <div>
            <h4>Your key:</h4><p><%=key%></p>
            <p>Selected key lengths:<%=keybit%> bits</p>
        </div>
        <div>
            <label for="p">Decrypted message:</label>
            <p><%= message %></p>
        </div>
    </body>
</html> -->